.jumbotron {
    padding-bottom: 3rem;
    padding-top: 3rem;
    padding-top: 3rem;
    margin-bottom: 2rem;
    background-color: rgba(45, 45, 45, 0.1);
}


.comment {
    background-color: rgba(45, 45, 45, 0.1);
}

.comment-author {
    font-size: x-large;
}

.comment-body {
    font-size: medium;
    background-color: rgba(45, 45, 45, 0.15);
}

.comment-date {
    font-size: x-small;
    text-align: right;
}

.btn {
    border-width: thin;
    border-color: black;
}
